ACTION_API_KEY=change-this-to-a-long-random-secret

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

COUPANG_ACCESS_KEY=
COUPANG_SECRET_KEY=
COUPANG_VENDOR_ID=

SHOPEE_PARTNER_ID=
SHOPEE_PARTNER_KEY=
SHOPEE_SHOP_ID=
SHOPEE_REFRESH_TOKEN=

EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_REFRESH_TOKEN=
